@font-face {
    font-family: 得意黑 斜体;
    src: url(../SmileySans-Oblique.ttf.woff2);
}

* {
    font-family: "得意黑 斜体";
}

body {
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: white;
    box-shadow: rgba(18, 18, 18, 0.1) 0px 1px 3px;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 56px;
    width: 50%;
    margin: 0 auto;
    color: #0086d1;
}

.title,
.question {
    line-height: 56px;
}

.feedback {
    padding: 4px;
}

.feedback:hover {
    background-color: #f5f5f5;
}

.support {
    margin-left: 10px;
    padding: 4px;
}

.support:hover {
    background-color: #f5f5f5;
}

.support span {
    cursor: pointer;
}

.QRcode {
    width: 400px;
    height: 400px;
}

dialog {
    cursor: auto;
    z-index: 999;
    color: white;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0 0 0 / 5%);
}

dialog div {
    background-color: #2aae67;
    text-align: center;
    font-size: 18px;
}

dialog img {
    background-image: url(../images/QRcode.png);
}

dialog form {
    text-align: center;
    margin-top: -20px;
}

dialog form button {
    background-color: #efefef;
    border-radius: 8px;
    color: #787383;
    padding: 6px;
    border: none;
}

.title {
    font-size: larger;
    font-weight: 700;
}

.container {
    width: 50%;
    margin: 10px auto;
    min-height: 100%;
}

.container::before {
    background-image: url(../images/background.png);
    opacity: 0.3;
    background-size: 20%;
    background-position: bottom right;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.input-box {
    resize: none;
    padding: 4px;
    width: 100%;
    border: 2px solid rgb(221, 221, 224);
    border-radius: 12px;
    font-size: 1rem;
    transition: .4s;
    opacity: 0.8;
}

.input-box:focus {
    transition: .4s;
    outline: none;
    border: 2px solid #0086d1;
}

.options {
    display: flex;
    flex-wrap: wrap;
    width: 102%;
    justify-content: space-between;
    margin: 10px 0;
}

.option {
    display: flex;
    width: 49%;
    height: 38px;
    border: 2px solid rgb(221, 221, 224);
    justify-content: space-between;
    line-height: 38px;
    border-radius: 8px;
    margin: 2px;
    background-color: white;
}

.input-key {
    width: 46%;
    resize: none;
    padding: 4px;
    margin-left: 8%;
    border: 2px solid rgb(221, 221, 224);
    border-radius: 12px;
    font-size: 1rem;
    transition: .4s;
}

.input-key:focus {
    transition: .4s;
    outline: none;
    border: 2px solid #0086d1;
}

.tag {
    display: flex;
    justify-content: center;
    width: 22%;
    background-color: rgb(221, 221, 224);
    border-radius: 4px 0 0 4px;
}

.selector {
    width: 78%;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: .4s;
}

.selector:focus {
    outline: none;
    border: 1px solid #0086d1;
    transition: .4s;
}

.slide {
    width: 50%;
}

.param {
    border-radius: 0 4px 4px 0;
}


.btn-group {
    margin: 6px 0;
    height: 42px;
}

.produce,
#download-button {
    height: 42px;
    width: 10%;
    background-color: #0086d1;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-right: 20px;
    font-size: 1rem;
    font-family: SmileySans;
}

#download-button {
    background-color: #28a745;
}

.produce:hover,
#download-button:hover {
    transition: .4s;
    background-color: #066ba5;
}

#download-button:hover {
    background-color: #218838;
}


.player {
    height: 42px;
    width: 100%;
}

.intro {
    border-radius: 8px;
    margin: 14px 0;
    width: 100%;
    padding: 16px 8px;
    border: 1px solid #d0d7de;
}

.intro-item {
    font-weight: 700;
    border-bottom: 1px solid #d0d7de;
    padding: 8px;
}

li {
    padding: 4px;
}

.footer {
    font-size: .875rem;
    width: 100%;
    color: #0086d1;
}

.designer,
.source {
    display: flex;
    justify-content: center;
}

a {
    color: #0086d1;
    text-decoration: none;
}

a:hover {
    background-color: #efefef;
}

@media screen and (max-width:420px) {
    .header {
        justify-content: space-between;
        margin: 0;
    }

    .nav {
        width: 100%;
        padding: 0 16px;
    }

    .container {
        width: 84%;
    }

    .option {
        width: 100%;
    }

    .input-key {
        width: 100%;
        resize: none;
        padding: 4px;
        margin: 0
    }

    .source a {
        width: 6%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .footer {
        bottom: -40vh;
    }

    .produce,
    .player {
        height: 100px;
        width: 100%;
    }

    .produce {
        margin: 0;
    }

    .container::before {
        background-image: url(../images/background.png);
        opacity: 0.3;
        background-size: 70%;
        background-position: bottom right;
        background-repeat: no-repeat;
        content: "";
        right: 15%;
        bottom: -30%;
        z-index: -1;
    }
}